extends ../layout


block content
  include ../mixins/prettyByte

  h1 Ebooks Gallery
  p.lead Dashboard for media applications
  
  hr
  .row
  each val in mediadata 
        .col-sm-4
          if val.image
            img(src='/media/ebooks/image?id=' + val.id)
          h4= val.filename
          p= val.type
          +prettyByte(val.size)
          p
            a.btn.btn-default(href='/media/ebooks/download?id=' + val.id, role='button') Open Ebooks »
    