extends ../layout

block content
  include ../mixins/prettyByte
  
  h1 Movie Gallery
  p.lead Dashboard for media applications
  
  hr
  .row
  each val in mediadata 
        .col-sm-12
          if val.image
            img(src='/media/movies/image?id=' + val.id)
          h4= val.filename
          p= val.type
          +prettyByte(val.size)
          p
            a.btn.btn-default(href='/media/movies/download?id=' + val.id, role='button') Play Movies »
    