extends ../layout

block content
  include ../mixins/prettyByte

  h1 Music Gallery
  p.lead Dashboard for media applications
  
  hr
  .row
  each val in mediadata 
        .col-sm-4
          if val.image
            img(src='/media/music/image?id=' + val.id)
          h4= val.filename
          p= val.type
          +prettyByte(val.size)
          p
            a.btn.btn-default(href='/media/music/download?id=' + val.id, role='button') Play Music »
    