mixin prettyByte(bytes)
    - function func(a){var b=+Math.floor(Math.log(a)/Math.log(1024));return(a/Math.pow(1024,b)).toFixed(b?1:0)+" "+["n/a","bytes","kb","mb","gb"][isNaN(a)?0:b+1]};
    p #{func(bytes)}
